<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="sekaiav.Properties.Settings.sekai_avConnectionString"
            connectionString="Data Source=.;Initial Catalog=sekai_av;Persist Security Info=True;User ID=sa;Password=3824036"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>